
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "lato";

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --text-white:#ffffff;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: #082864;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );
  --background-color :#0B2854;
  --text-heading-color:#37d6c2;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  
  position: relative;
  overflow-x: hidden;
}

.top-bar-header{
  background-color: #082864;
  padding:10px;
  color: #fff;
}

.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:auto;
  margin-right: -12px;
  margin-bottom: -10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #082864;
}

.main-menu{
  background-color: #f3faf2;
}
.categories-bar{

  margin-top:-10px;
  display: flex;
  justify-content:flex-start;

  padding: 0px;
  height: auto;
  border-bottom: 1px solid rgb(214, 213, 213);
}
.categories-bar a{
  font-size: 21px;
}

h1 {
  font-size: 55px;
  font-family: sans-serif;
  color: hsl(0 0% 98%);
  font-weight: 600;
  margin:10px;
}

.underlined {
/*   background: red; */
  position: relative;
}

.underline-clip:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(130 80% 50%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 80%, 100% 0);
}


/* search input css */

.search-icon{
  top: 15px;
  position: absolute;
  right: 20px;
}

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  width:40%; 
  }

  .search input{

   height: 60px;
   text-indent: 25px;
   border: 2px solid #d6d4d4;
  }
  .search input:focus{

   box-shadow: none;
   border: 2px solid blue;
  }

  .search .fa-search{
   position: absolute;
   top: 20px;
   left: 16px;

  }

  .search button{
   position: absolute;
   top: 5px;
   right: 5px;
   height: 50px;
   width: 110px;
   background: blue;

  }

/* end search css */

/* other-details css */

.other-details
{
 width: auto;
 display: flex;
 justify-content: space-between;
 align-items: end;
}

.other-details .cart-icon{
  width: 15%;
}

.mySwiper{
  margin:20px;
  padding: 20px !important;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}

.cart-icon label{
  position: absolute;
    top: -5px;
    left: 20px;
    font-size: 9px;
    padding: 2px;
    background-color: #2291ef;
    color: #fff;
    border-radius: 50%;
}

.map-icon{
  width: 30%;
  display: flex;
  justify-content: center;
}

.heading{
  color: #082864;
  font-size: 40px;
  line-height: 50px;
}
.sub-heading{
  font-size: 28px;
  line-height: 45px;
  font-weight: 600;
  color: #082864;
}
.form-input{
  background-color: #17335D;
}
.form-input label{
  color: #687A96;
}
.form-input input{
  font-size: smaller;
  width: -webkit-fill-available;
  border:none;
  background-color: transparent;
}
.form-input input::placeholder{
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}
.item-data{
  padding: 0px 10px;
  margin: 5px;
  transition: linear 0.5s ease-in-out;
}

.item-data:hover {
  cursor: pointer;
  background-color: aliceblue;
  margin: 5px;
  padding: 0px 10px;
  border-radius: 10px;
}

/* header section css */

.dropdown-item {
  color: #fff;
}
.dropdown .dropdown-menu .dp-header-menu {
  display: none;
  background: #ffffff;
}
.dropdown:hover>.dropdown-menu, 
.dropend:hover>.dropdown-menu {
  display: block;
  margin-top: .1em;
  margin-left: .1em;
}
@media screen and (min-width:769px) {
  .dropend:hover>.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: .5em;
  }
}

.good-advsior-header-section{
  width:100%;
  height: auto;
  background-color: #ffffff;
}
.good-advsior-header-section .warning-msg{
  font-size: 15px;
  font-weight: 600;
  line-height: 2.3em;
  color:var(--text-white);
  text-align: center;
  background-color: #0B2854;
}
.good-advsior-header-section nav {
  width: 100%;
}
#navbarNav {
  display: flex;
  justify-content: center;
}

.login-btn{
  box-shadow: 2px 2px 5px #6d6969;
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(#37d6c2,#42aad2);
  cursor: pointer;
}

.login-data{
  text-decoration: none;
  color: white;

}
.good_advsior-btn{
  width: 25%;
  box-shadow: 2px 2px 5px #6d6969;
  padding:10px 30px ;
  border-radius: 10px;
  background: #082864;
  cursor: pointer;
}

/* hero section 

/* home page css */

/* product css */
.product-grid{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.product-grid .product-image{
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-grid .product-image a.image{
  display: block;
  height: 20rem;
    display: block;
    background-size: cover;
}
.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-grid .product-discount-label{
  color: #fff;
  background: #A5BA8D;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  padding: 0 20px;
  position: absolute;
  top: 10px;
  left: 0;
}
.product-grid .product-links{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 10px;
  right: -50px;
  transition: all .5s ease 0s;
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid .product-links li a{
  color: #333;
  background: transparent;
  font-size: 17px;
  line-height: 38px;
  width: 38px;
  height: 38px;
  border: 1px solid #333;
  border-bottom: none;
  display: block;
  transition: all 0.3s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #333; }
.product-grid .product-links li a:hover{
  color: #fff;
  background: #333;
}
.product-grid .add-to-cart{
  background: #A5BA8D;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px 26px;
  position: absolute;
  left: 0;
  bottom: -60px;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart{ bottom: 0; }
.product-grid .add-to-cart:hover{ text-shadow: 4px 4px rgba(0,0,0,0.2); }
.product-grid .product-content{
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.1) inset;
}
.product-grid .title{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 7px;
}
.product-grid .title a{
  color: #777;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #a5ba8d; }
.product-grid .price{
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 600;
}
.product-grid .price span{
  color: #888;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}
@media screen and (max-width: 990px){
  .product-grid{ margin-bottom: 30px; }
}

/* register-companies css */
.register-companies{
  margin-top:15px;
  margin-bottom: 15px;
  width:100%;
  height: auto;
  /* background-color: #0B2854; */
}

.register-companies .hero-section-container{
  padding: 40px;
  width: 100%;
  height: auto;
  background-color: #0B2854;
  border-radius: 20px;
}
.register-companies .hero-section-container h2{
  white-space:pre-line;
  font-size: 42px;
}
.register-companies .hero-section-container #good-advisor-search{
  width: auto;
  border-radius: 50px;
  border:5px solid #b3f5e6;
  background-image: url('../public/images/magnifying-glass.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 8px 40px;
  margin-bottom: 30px;
}
.all-type-gst-data{
  margin-bottom: 30px;

    display: flex;
   width: 90%;
   height: auto;
   flex-wrap: wrap;
}
.all-type-gst-data .services-box{
  width: auto;
  height: 45px;
  background-color: #264067;
  color: #ffff;
  padding: 10px;
  border-radius: 10px;
  margin:10px;
  font-size: 15px;
}

@media screen and (max-width:1024px) {
  .register-companies .hero-section-container h2 , .heading{
    font-size: 2em;
  }
  .register-companies .hero-section-container #good-advisor-search{
     width: 80%;
  }
  .pricing-table{
    flex-wrap: wrap;
  }
}

/* our supporter css */
.our-supporter-container{
  padding: 20px 0px;
  margin:10px 0px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

/* testimonial_container css */
.Why-choose-us-container {
  width: 100%;
  height:auto;
  padding: 15px 0px;
}
.Why-choose-us-container .reasons-box{
  padding: 30px;
  box-shadow: 0px 0px 5px 2px rgb(231, 231, 231);
  height: auto;
  margin:25px;
  border-radius: 10px;
}

/* services_container css */
.services_container{
  width: 100%;
  height: auto;
  padding:15px 0px;
}
.services_container .tabs button {
  width: 300px;
  margin: 10px 6px;
}
.tab-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.feature-list{
  list-style-type: none;
}
.tab {
  background: #f1f1f1;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  /* margin: 0 5px; */
  font-size: 16px;
  border-radius: 50px;
}

.tab.active {
  background: #264067;
  color: white;
}

.pricing-table {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}
.pricing-table .plan{
  background-color: #f0f4f8;
  padding: 40px 20px;
  border-radius: 10px;
}
.pricing-table .plan h4{
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  border-radius: 50px;
  border:1px solid #082864;
}

/* testimonial css */
.testimonial_container{
  position: relative;
  background-color: #F0F4F8;
  width: 100%;
  height: auto;
  padding: 40px 20px 80px 20px;
}
.swiper-wrapper .testimonial-card{
  background-color:#fff;
}
.swiper{
  position: unset !important;
}
.swiper-pagination{
  position: absolute;
  bottom: 0;
}
.testimonial-slider-container {
  position: relative;
}


.swiper-button-prev,
.swiper-button-next {
  color: #000; /* Adjust the color as needed */
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  margin-left:50px;
  margin-right: 50px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial {
  text-align: center;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
}

.testimonial-box{
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: #ffffff;
}
.testimonial-box .reverw-name{
  width: 100%;
  height: 100%;
}

@media screen and (max-width:768px) {
  .swiper-slide{
    width: 100% !important;
  }
}

/* end home css */

/* login panel css */
.signup-box {
    overflow-x: hidden;
    height: 101%;
    overflow-y: scroll;
}
.login-container{
  z-index: 9999999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #030246dc;
  transition: 0.3s ease-in;
  transition-delay: 50ms;
  transition-property: margin-right;
}
.login-container .sign-right{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: -20px;
  height: 100vh;
   background-color: #ffffff;
}
.login-container .sign-right .sign-email,.login-container .sign-right .sign-password {
   border:none;
   font-size: 18px;
   font-weight: 600;
   border:none;
   
}
.login-container .sign-right .sign-email:focus,.login-container .sign-right .sign-password:focus {
  outline: none;
}
.login-container .sign-right .sign-email::placeholder , .login-container .sign-right .sign-password::placeholder{
  color: #082864;
}
.login-container .sign-right form .sign-btn , .login-container .sign-right form .signup-btn{
  padding: 10px 20px;
  background: linear-gradient(#30F3B8 , #4A86DF);
  color: #ffffff;
  border-style: none;
  border-radius: 10px;
}
.login-container .sign-right .login-form{
  width: 75%;
  border:2px solid rgb(194, 194, 194);
  border-radius: 10px;
}
.login-container .sign-right .cross-icon button{
   border:none;
   background-color: transparent;
}

.login-container .sign-left{
  opacity: 0;
}

/* end login css */

/* good-advsior gst registration css */
.good-advisor-gst-registration-container{
  padding: 50px 0px 50px 50px;
  width: 100%;
  height: auto;
}

.good-advisor-gst-registration-container .registration-step-box{
  position: relative;
  width: 500px;
  background-color: #0b2854;
  height: auto;
  padding: 20px;
  z-index: 99;
  border:1px solid rgb(190, 190, 190)
}
.toggle {
  position: relative;
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.toggle {
  position: relative;
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    font-size: 10px;
    display: block;
    background: #e6e6e6;
    border-radius: 8px;
    -webkit-transition: background .2s ease;
    -o-transition: background .2s ease;
    transition: background .2s ease; }
  .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
    .toggle span:before {
      content: "";
      position: absolute;
      display: block;
      margin: -18px;
      width: 56px;
      height: 56px;
      background: rgba(255, 123, 176, 0.5);
      border-radius: 50%;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      opacity: 1;
      pointer-events: none; }

#cbx:checked + .toggle:before {
  background: #ffe1ed; }

#cbx:checked + .toggle span {
  background: #3ac9c7;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  -o-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  -webkit-box-shadow: 0 3px 8px rgba(255, 123, 176, 0.2);
  box-shadow: 0 3px 8px rgba(255, 123, 176, 0.2); }
  #cbx:checked + .toggle span:before,
  #cbx2:checked + .toggle span:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }



/* good-advisor-registration-container css */

.good-advisor-registration-container{
  padding: 50px 0px 0px 50px;
  width: 100%;
  height: 100vh;
}
.good-advisor-registration-container .registration-step-box{
  position: relative;
  width: 500px;
  background-color: #ffffff;
  height: auto;
  padding: 20px;
  z-index: 99;
  border:1px solid rgb(190, 190, 190)
}

.formone, .formtwo, .form-three form  {
  padding: 10px;
  background-color: #fafbfc ;
}

.step-container h2{
   border-bottom: 1px solid rgb(224, 224, 224);
}
.step-container h4{
  width: 33%;
  margin-top: -10px;
  font-weight: 600;
  font-size: 21px;
  border-bottom: 2px solid #082864;
}
.formone select , .formtwo select , .form-three select{ 
  color: #11181e;
  border-style: none;
  background-color: none !important;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin:10px 0px;
}

 .gst-registration-feature {
  border-radius: 10px;
  box-shadow: inset 0 0 10px #3f3b34;
  height: 85vh;
  padding: 40px 100px;
  z-index: 0;
  width: 100%;
  background-color: #f8f9fa;
}

.gst-registration-feature .list-certificate-feature{
  list-style-type: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.gst-registration-feature .list-certificate-feature li{
  align-items: flex-start;
  display: flex;
  margin-top: 10px;
}

.gst-registration-feature .list-certificate-feature li img {
  width: auto;
  height: 10px;
}

.registration-feature {
  border-radius: 10px;
  box-shadow: inset 0 0 10px #3f3b34;
  height: auto;
  padding: 40px 100px;
  z-index: 0;
  width: 100%;
  background-color: #f8f9fa;
}
.registration-feature .list-certificate-feature{
  list-style-type: none;
 
}
.registration-feature .list-certificate-feature li{
  align-items: flex-start;
  display: flex;
  margin-top: 10px;
}

.registration-feature .list-certificate-feature li img {
  width: auto;
  height: 10px;
}

.certificate-container{
  padding: 0px 10px;
}
.gst-registration-feature .list-certificate-feature li{
  width:50%;
}

@media screen and (max-width:1024px) {
  .registration-feature{
    padding: 25px;
  }
  .good-advisor-registration-container .registration-step-box{
    width: auto;
  }
  .certificate-container{
    padding: 0px 10px;
  }
  .good-advisor-registration-container{
    padding: 20px;
  }
  .heading{
    font-size: 24px;
    line-height: 35px;
  }
  .list-certificate-feature{
    padding-left: 0;
  }
  .gst-registration-feature .list-certificate-feature li{
    width:100%;
  }
}

/* gst registration css */
.unblock-benfit-container{
  padding: 20px;
  width:100%;
  height: auto;
  background-color: #F0F4F8;
}

.unblock-benfit-container .services-card-box{
  margin:15px;
  padding: 20px;
  width: 250px;
}

.step_process_container{
  width:100%;
  height: auto;
  padding: 40px 0px;
}

/* Gst_knowledge_info_container */
.gst_knowledge_info_container{
  padding: 40px 0px;
  width:100%;
  height: auto;
}
.gst_knowledge_info_container .nav .nav-item button.active {
  width: 180px;
  background-color: #f3f4f7;
  color: var(--bs-danger) !important;
  border-radius: 10px 0px 0px 10px;
}
.gst_knowledge_info_container .nav .nav-item button.active::before {
  content: "";
  border-right: 4px solid var(--tile-start-rgb);
  height: 100%;
  position: absolute;
  left:0;
  top: 0;
  border-radius: 10px 0px 0px 10px;
}


@media screen and (max-width:1199px) {

  .good-advisor-gst-registration-container{
    padding: 10px;
  }
  .good-advisor-gst-registration-container .registration-step-box , .gst-registration-feature{
     width:auto;
     padding: 20px 20px;
     margin:10px 0px;
     height: auto;
  }
  .unblock-benfit-container .services-card-box{
    margin:10px;
    width:45%;
  }
}

@media screen and (max-width:440px) {
  .unblock-benfit-container .services-card-box{
    width:100%;
  }
}

@media screen and (max-width:768px) {
  .gst_knowledge_info_container .tabs-container{
     flex-direction: column;
  }
  .gst_knowledge_info_container .tabs-container > ul >li {
    display: flex;
    justify-content: center;
  }
}

/* footer css */
footer{
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--background-color);
}

footer .footer-list-box{
  padding-left: 20px;
  padding-top:20px;
  width: 100%;
  height: 100%;
  /* background-color: #37d6c2; */
}

footer .footer-list-box ul{
  margin-left:-20px;
  list-style-type: none;
}
footer .footer-list-box h4{
  margin-left:10px;
}
footer .footer-list-box ul li{
  color: #fff;
}
