.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
}

.container {
  position: relative;
}

.container .swiper-button-prev,.container .swiper-button-next{
  display: none !important;
}


.container .card {
  position: relative;
  width: 100%;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  border-style: none;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #17335D;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  content: "farm product";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);

}

.container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.container .card:hover .imgBx {
  top: 0%;
  transform: translateY(-25%);
  /* bug  */
}

.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 270px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: .5s;
}

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: .5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover {  /* other bug */
  background: #B90000;
}

.container .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
   background: #1BBFE9;
}

.container .card .contentBx .color span:nth-child(3) {
   background: #1B2FE9;
}

.container .card .contentBx .color span:nth-child(4) {
   background: #080481;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: .5s;
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .7s;
}

.banner-img{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5rem;
  height: 50vh;
  background-image: url('https://i.pinimg.com/originals/41/7f/b3/417fb3dc5a6454419abaf53657a7fd8b.jpg');
  background-size: cover;
  border-radius: 50px;
  box-shadow: 2px 0px 0px 5px rgb(212, 212, 212);
}
.banner-img h2{
  font-size: 48px;
}
.banner p{
  width: 50vh;
}

/* rcmdproductcontainer */
.rcmdproductcontainer{
  padding:30px;
  width:100%;
  height: auto;
}
.tabs-container span{
  margin:0em 1.5rem;
}
.tabs-container span.active{
  width: fit-content;
    border-radius: 50px;
    color: #fff;
    padding: 0.5em 1em;
    background-color: #080481;
    text-align: center;
}
.rcmdproductcontainer .productcard{
  border:1px solid green;
  border-radius: 20px;
  margin: 6px;
  padding: 20px;
  width: 24%;
  overflow: hidden;
}
.tabs-container {
  display: flex;
  overflow-x: scroll;
}
.rcmdproductcontainer .productcard img{
  -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
  width: 60%;
}
.rcmdproductcontainer .productcard:hover>img{
  -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    width: 56%;
}
.productcard .btncard{
  background-color: #e6f9ef;
  width: 100%;
  border-radius: 25px;
  text-align: center;
  color: green;
  padding: 10px;
  border-style: none;
  transition: 5s linear ease-in;
}
.productcard .btncard:hover{
  background-color: green;
  color: #fff;
  
}

/* banner-box */
.delivery-section{
  margin:10px;
  border-radius: 50px;
  width: 100%;
  height: auto;
  background-color: hsl(148, 59%, 39%);
}
.delivery-section button{
  background-color: #080481;
  color: #fff;
}
